.s-number--style {
  &-2 {
    &-1 {
      .s-number {
        @include flex(column, wrap, center, center);

        &-layout {
          @include flex(row, wrap, center, center);
          gap: rem(16);
          margin-bottom: rem(32);
          margin-top: rem(32);

          &-inner {
            @include flex(row, nowrap, start, center);
            gap: rem(24);

            @include lessThan($mobile) {
              flex-direction: column;
            }

            &__number {
              font-size: 50px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }

            &__text {
              max-width: rem(280);
              text-align: start;
            }
          }
        }

        .c-title {
          margin-bottom: rem(32);
        }

        .c-image {
          img {
            width: rem(64);
            height: rem(64);
          }
        }
      }
    }

    &-2 {
      .s-number {
        @include flex(column, wrap, center, center);

        &-layout {
          @include flex(row, wrap, space-between, center);

          gap: rem(16);
          margin-bottom: rem(32);
          margin-top: rem(32);
          background: color(primary);
          padding: rem(35) rem(56);
          border-radius: rem(24);
          max-width: rem(840);
          width: 100%;

          &-inner {
            @include flex(row, nowrap, start, center);

            gap: rem(24);
            min-width: rem(171);

            &__icon {
              width: rem(68);
              height: rem(68);
              border-radius: 50%;
              background: color(light);

              .c-image {
                width: 100%;
                height: 100%;
              }
            }

            &__info {
              @include flex(row, wrap, start, center);

              gap: rem(5);

              .info {
                &__title {
                  font-weight: 700;
                }

                &__text {
                  font-weight: 400;

                }
              }
            }

            &__number {
              font-size: 50px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }

            &__text {
              max-width: rem(280);
              text-align: start;
            }
          }
        }

        .c-title {
          margin-bottom: rem(32);
        }

        .c-image {
          img {
            width: rem(64);
            height: rem(64);
          }
        }
      }
    }
  }
}
