.s-form--style {
  &-1 {
    .s-form {
      @include flex(row, wrap, space-between, center);
      gap: rem(36);
      @include lessThan($tablet) {
        flex-direction: column-reverse;
        align-items: center;
      }

      &-layout {
        flex: 1;
        @include flex(column, nowrap, start, start);
        gap: rem(18);
      }
      &-info {
        span {
          text-decoration: underline;
        }
      }
      &-pic {
        flex: 1;
      }
      &__image {
        .c-image {
          width: 100%;
          height: rem(560);
          img {
            object-fit: cover;
          }
          @include lessThan($tablet) {
            height: rem(400);
          }
        }
      }
      &__iframe {
        width: 100%;
        iframe {
          width: 100%;
          height: rem(560);
          @include lessThan($tablet) {
            height: rem(400);
          }
        }
      }
    }
  }
}
