.no-scroll {
  overflow: hidden;
}

.header-wrap {

  &.scrolled {
    .header {
      #burger {
        span {
          @include burger(30px, 3px, 6px, $c-dark);
        }

        &.active {
          span {
            @include burger-to-cross($c-dark);
          }
        }
      }
    }
  }

  .header {
    #burger {
      @include flex(row, nowrap, center, center);
      position: relative;
      height: 50px;
      z-index: 25;


      span {
        @include burger(30px, 2px, 7px, $c-primary);
      }

      @include lessThan(1050px) {
        display: flex !important;
      }

      &.active {
        span {
          @include burger-to-cross($c-primary);
        }
      }

      &:hover {
        cursor: pointer;
      }

      &.hidden {
        display: none;
      }

      &.show {
        display: flex;
      }

    }

    &-nav {
      &__burger {

        @include flex(column, nowrap, center, center);

        background-color: color(light, 0.95);
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        transition: $default-transition;
        overflow: hidden;



        #close {
          cursor: pointer;
        }

        ul {
          @include flex(column, nowrap, center, flex-start);
          @include undoListStyles();

          gap: rem(24);

          @include lessThan(1150px) {
            padding-left: 20px;
            padding-right: 20px;
          }

          .menu-item {
            width: 100%;

            a {
              font-size: rem(30);
            }

            &.menu-item-has-children {

              max-height: var(--init-height);
              overflow: hidden;
              transition: max-height 0.2s ease-in;

              &.open {
                max-height: var(--max-height);
              }

              .sub-menu {
                padding-top: 20px;

                a {
                  font-size: rem(20);
                }
              }

              > a {
                position: relative;
                display: inline-block;
                padding-top: rem(3);
                padding-right: 30px;

                &:after {
                  content: "";
                  background-image: url("/app/themes/akyos-sage/resources/assets/icons/submenu.svg");
                  position: absolute;
                  @include verticalCenter();
                  right: -7px;
                  width: 20px;
                  height: 20px;
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-color: transparent !important;
                  transition: $default-transition;
                  background-position: center;
                }
              }
            }

          }
        }

        &.expanded {
          transform: translateX(0%);
        }
      }
    }
  }
}
