@import "top-bar";
@import "nav-bar";
@import "burger";
@import "submenu";

.header-wrap {
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: color(light, 1);
  z-index: 999;
  transition: $default-transition;

  &.scrolled {
    box-shadow: 0 0 20px color(dark, 0.3);
  }

  .header {
    @include flex(row, nowrap, space-between, center);

    padding-top: rem(14);
    padding-bottom: rem(14);

    &-nav {
      width: 100%;
      gap: 16px;

      .menu {
        @include flex(row, nowrap, flex-end, center);
        @include undoListStyles();
        gap: rem(16);

        > li {
          padding: rem(25) 0;
        }
      }

      &__nav.active-underline {
        ul.menu {
          > li {
            &.current-menu-item a:after {
              width: 100%;
            }

            a {
              position: relative;

              &:after {
                @include pseudo();
                height: 2px;
                bottom: -5px;
                width: 0;
                background-color: color(primary);
                transition: $default-transition;
              }
            }

            &:hover:not(.menu-item-has-children) > a:after {
              width: 100%;
            }
          }
        }
      }

      &__nav.active-color {
        ul.menu {
          > li {
            &.current-menu-item a {
              color: color(primary);
            }

            a {
              transition: $default-transition;

              &:hover {
                color: color(primary);
              }
            }
          }
        }
      }

      &__nav {
        @include lessThan($tablet) {
          display: none !important;
        }
      }

      &__burger {
        overflow-y: hidden;

        .menu {
          @include flex(column, nowrap, center, start);
          padding: rem(0) rem(20);

          li {
            padding: 0;
            font-size: rem(20);
          }
        }
      }
    }
  }
}

