.s-partenaire--style {
  &-1 {
    .s-partenaire {
      .c-title {
        margin-bottom: rem(34);
        text-align: center;
      }

      &__text {
        margin-bottom: rem(34);
        margin-inline: auto;
        text-align: center;
        max-width: rem(385);
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
        grid-gap: rem(8);

        @include lessThan(mobileonly) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__item {
          .c-image {
            img {
              width: 100%;
              max-height: rem(180);
              object-fit: contain;
            }
          }
        }
      }

      &__btn {
        @include flex(row, wrap, center, center);
        margin-top: rem(34);
      }

    }
  }
}
