.s-content {
  &.s-content--style {
    &-1 {
      &-1 {
        .s-content {
          &-container-normal {
            @include flex(row, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(32);
            }

          }

          &-container-reverse {
            @include flex(row-reverse, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(32);
            }

          }

          &-layout {
            @include flex(column, wrap, space-evenly, start);
            gap: rem(22);
          }

          &-image {
            .c-image {
              width: rem(630);

              img {
                height: 100%;
                max-height: rem(460);

                object-fit: cover;
              }

              @include lessThan($tablet) {
                width: rem(460);
                img {
                  max-height: rem(360);
                }
              }

              @include lessThan($mobileXs) {
                width: rem(360);
                img {
                  max-height: rem(360);

                }
              }
            }

          }
        }
      }

      &-2 {
        .s-content {
          &-container-normal {
            @include flex(row, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(64);
            }

          }

          &-container-reverse {
            @include flex(row-reverse, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(64);
            }

          }

          &-layout {
            @include flex(column, wrap, space-evenly, start);
            gap: rem(22);
          }

          &-image {
            box-shadow: 22px -22px 0px 2px color(primary);

            .c-image {
              width: rem(630);

              img {
                height: 100%;
                max-height: rem(460);

                object-fit: cover;
              }

              @include lessThan($tablet) {
                width: rem(460);
                img {
                  max-height: rem(360);
                }
              }

              @include lessThan($mobileXs) {
                width: rem(320);
                img {
                  max-height: rem(320);

                }
              }
            }

          }
        }
      }

      &-3 {
        .s-content {
          &-container-normal {
            @include flex(row, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(64);
            }

          }

          &-container-reverse {
            @include flex(row-reverse, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(64);
            }

          }

          &-layout {
            @include flex(column, wrap, space-evenly, start);
            gap: rem(22);
          }

          &-image {
            border: 1px solid color(primary);
            padding-right: rem(44);
            padding-top: rem(18);
            padding-bottom: rem(18);
            @include lessThan($mobile) {
              padding-right: rem(0);
            }

            .c-image {
              width: rem(630);

              img {
                height: 100%;
                max-height: rem(460);

                object-fit: cover;
              }

              @include lessThan($tablet) {
                width: rem(460);
                img {
                  max-height: rem(360);
                }
              }

              @include lessThan($mobileXs) {
                width: rem(300);
                img {
                  max-height: rem(300);

                }
              }
            }

          }
        }
      }

      &-4 {
        .s-content {
          &-container-normal {
            @include flex(row, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(32);
            }

          }

          &-container-reverse {
            @include flex(row-reverse, nowrap, space-between, center);
            gap: rem(110);

            @include lessThan($tablet) {
              @include flex(column, wrap, center, center);
              gap: rem(32);
            }

            .s-content-image {
              left: 8%;

            }
          }

          &-layout {
            position: relative;
            z-index: 2;
            @include flex(column, wrap, space-evenly, start);
            gap: rem(22);
            background-color: color(primary);
            color: color(light);
            padding: rem(80) rem(22);
            width: 70%;

            @include lessThan(1280px) {
              padding: rem(40) rem(12);
              width: 100%;
            }
          }

          &-image {
            position: absolute;
            left: 50%;

            @include lessThan(1280px) {
              //position: initial;
              display: none;

            }

            .c-image {
              width: rem(630);

              img {
                height: 100%;
                max-height: rem(460);

                object-fit: cover;
              }

              @include lessThan($tablet) {
                width: rem(460);
                img {
                  max-height: rem(360);
                }
              }

              @include lessThan($mobileXs) {
                width: rem(300);
                img {
                  max-height: rem(360);

                }
              }
            }

          }

          &-image2 {
            display: none;

            @include lessThan(1280px) {
              display: block;

            }

            .c-image {
              width: rem(630);

              img {
                height: 100%;
                max-height: rem(460);

                object-fit: cover;
              }

              @include lessThan($tablet) {
                width: rem(460);
                img {
                  max-height: rem(360);
                }
              }

              @include lessThan($mobileXs) {
                width: rem(300);
                img {
                  max-height: rem(360);

                }
              }
            }

          }
        }
      }
    }

    &-4 {
      .s-content-left {
        &-container {
          max-width: rem(1064);
        }

        &-header {
          @include flex(row, wrap, start, center);
          gap: rem(34);

          &__info {
            font-size: rem(160);
            font-weight: 500;
            font-style: normal;
            line-height: normal;
            text-align: center;
            opacity: 0.3;
          }

          .c-title {
            max-width: rem(600);
          }
        }

        &__text {
          margin-top: rem(44);

          p + p {
            margin-top: rem(24);
          }
        }

        &__button {
          margin-top: rem(24);
        }
      }

      .s-content-right {
        &-container {
          max-width: rem(1064);
        }

        &-header {
          @include flex(row-reverse, wrap, end, center);
          gap: rem(34);

          &__info {
            font-size: rem(160);
            font-weight: 500;
            font-style: normal;
            line-height: normal;
            text-align: center;
            opacity: 0.3;
          }

          .c-title {
            max-width: rem(600);
            text-align: end;
          }
        }

        &__text {
          margin-top: rem(44);
          text-align: end;

          p + p {
            margin-top: rem(24);
          }
        }

        &__button {
          display: flex;
          justify-content: end;
          margin-top: rem(24);
        }
      }
    }

    &-5 {
      .s-content {
        &__title {
          text-align: center;
        }

        &-layout {
          margin-top: rem(50);
          @include flex(row, wrap, space-evenly, center);

          &-column {
            @include flex(column, wrap, start, center);
            position: relative;

            &:first-child {
              &::before {
                display: none;
              }

            }

            &::before {
              content: '';
              display: block;
              width: 1px;
              height: 100px;
              background-color: color(primary);
              position: absolute;
              transform: translateX(-170px);
              @include lessThan($tablet) {
                display: none;
              }

            }

          }

        }
      }
    }

    &-6 {
      .s-content {
        &-layout {
          @include flex(row, wrap, space-evenly, start);
          margin-top: rem(40);
          gap: rem(24);
          @include lessThan($tablet) {
            //@include flex(column, wrap, center, center);
            gap: rem(32);
          }

          &-column {
            max-width: rem(260);
            display: flex;
            flex-direction: column;
            position: relative;

            .c-title {
              padding: 0;
              margin: 0;
            }

            &:first-child {
              &::before {
                display: none;
              }

            }

            &::before {
              content: '';
              display: block;
              width: 1px;
              height: 100px;
              background-color: color(primary);
              position: absolute;
              transform: translateX(-70px);
              @include lessThan($tablet) {
                display: none;
              }

            }

          }


        }

        &__content {
          margin-top: rem(8);
        }

        &__title {
          text-align: center;
        }

        &__button {
          @include flex(row, wrap, center, center);
          margin-top: rem(32);
        }
      }
    }

    &-7 {
      .s-content {
        &-container {
          @include flex(row, wrap, space-between, start);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(32);
          }

        }

        &-layout {
          @include flex(row, wrap, space-evenly, center);
          margin-top: rem(40);
          gap: rem(24);
          @include lessThan($tablet) {
            //flex-direction: column;
          }

          &-column {
            max-width: rem(260);
            display: flex;
            flex-direction: column;
            position: relative;

            .c-title {
              padding: 0;
              margin: 0;
            }

            &:first-child {
              &::before {
                display: none;
              }

            }

            &::before {
              content: '';
              display: block;
              width: 1px;
              height: 100px;
              background-color: color(primary);
              position: absolute;
              transform: translateX(-70px);

              @include lessThan($tablet) {
                display: none;
              }

            }

          }


        }

        &__content {
          margin-top: rem(8);
        }

        &__title {
          text-align: center;
        }

        &__button {
          @include flex(row, wrap, center, center);
          margin-top: rem(32);
        }
      }
    }

    &-8 {
      .s-content {

        &-layout {
          max-width: rem(800);
          padding-top: rem(80);
          padding-bottom: rem(80);
          margin: auto;

          @include flex(column, wrap, center, start);
          gap: rem(32);
          p {
            //max-width: rem(800);
          }
          p + p {
            margin-top: rem(24);
          }
          .c-title {
            //max-width: rem(600);
          }
        }
        &-center {
          &-container {
            .s-content-layout {
              @include flex(column, wrap, center, center);
            }
          }
        }
        &-right {
          &-container {
            .s-content-layout {
              @include flex(column, wrap, center, end);
            }
          }
        }

      }
    }
    &-9 {
      .s-content {
        &-image {
          .c-image {
            width: rem(360);
            img {
              height: 100%;
              max-height: rem(360);
              object-fit: cover;
            }
            @include lessThan($tablet) {
              width: rem(360);
              img {
                max-height: rem(360);
              }
            }
            @include lessThan($mobileXs) {
              width: rem(300);
              img {
                max-height: rem(300);
              }
            }
          }
        }
        &-left {
          margin-top: rem(8);
          @include flex(row, nowrap, start, center);
          gap: rem(22);
          @include lessThan($tablet) {
            margin-top: rem(64);
            @include flex(column, wrap, center, center);
            gap: rem(16);
          }
        }
        &-right {
          margin-top: rem(8);
          @include flex(row-reverse, nowrap, end, center);
          gap: rem(22);
          @include lessThan($tablet) {
            margin-top: rem(64);
            @include flex(column, wrap, center, center);
            gap: rem(16);
          }
        }
      }
    }
  }
}
