.s-content9 {
  padding: rem(60) 0;

  > .container {
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    grid-template-areas: "left blank right";
    grid-gap: rem(20);

    /**
     * If the container has only one child (no images),
     * the grid is not necessary
     */
    &:has(> div:only-child) {
      display: block;
    }

    /***************************************/
    /************* REVERSE *****************/
    /***************************************/

    &.reverse {
      grid-template-columns: 6fr 1fr 5fr;

      .s-content9-content {
        grid-area: right;
      }

      .s-content9-image {
        grid-area: left;
      }
    }

    /***************************************/
    /***************************************/
    /***************************************/

    @include lessThan($mobile) {
      @include flex(column, nowrap, center, stretch);
    }
  }

  &-content {
    @include flex(column, nowrap, center, start);

    grid-area: left;
    gap: rem(24);
  }

  &-image {
    grid-area: right;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(20);

    /*
     * If the container has only one image,
     */

    &:has(> .c-image:only-child) {
      grid-template-columns: 1fr;

      .c-image {
        height: clamp-calc(350px, 753px);
      }
    }

    /*******************************/

    .c-image {
      height: clamp-calc(250px, 376px);
      display: block;

      /*
      * If the container has two images,
      */


      /******************************/

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
