.s-map1 {
  padding: rem(60) 0;

  > .container {
    display: grid;
    grid-template-columns: 5fr 1fr 6fr;
    align-items: center;

    @include lessThan($mobile) {
      grid-template-columns: 1fr;
      grid-row-gap: rem(20);
      > div {
        grid-column: 1 !important;
      }
    }
  }

  .map {
    grid-column: 1;

    #map {
      height: clamp-calc(400px, 560px);
      width: 100%;
    }

    &-title {
      @include column(nowrap, start, start);

      gap: rem(16);
      grid-column: 3;

      @include lessThan($mobile) {
        order: -1;
      }

      > p {
        max-width: rem(380);
      }
    }
  }

}
