.s-team4 {
  padding: rem(60) 0;

  > .container {
    @include column();

    gap: rem(24);

    .c-title {
      text-align: center;
    }

    > p {
      max-width: rem(680);
    }

    .members {
      width: 100%;
      position: relative;
      min-width: 0;
      padding: 0 0 rem(100) 0;
      gap: rem(24);

      .swiper {
        max-width: rem(1058);
      }

      .member {
        @include column();

        .c-image {
          width: auto;
          img {
            width: 100%;
            border-radius: 50%;
            max-width: rem(180);
          }
        }

        &-content {
          padding-top: rem(24);
          text-align: center;

          &__name {
            @extend %fs-26;
            margin: 0;
          }

          &-links {
            @include flex(row, nowrap, center, center);

            gap: rem(8);
            padding-top: rem(8);

            a, svg {
              height: rem(14);
              width: rem(16);
            }

            &__contact {
              border-right: rem(1) solid color(dark);
              padding-right: rem(8);
            }

            &__socials, &__contact {
              @include flex(row, nowrap, start, center);
              gap: rem(4);
            }
          }
        }
      }

      .swiper-buttons {
        @include flex(row, nowrap, space-between, center);

        position: absolute;
        width: 100%;
        max-width: rem(1158);
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include lessThan($mobile) {
          top: 94%;
        }

        .swiper-button-prev, .swiper-button-next {
          --swiper-navigation-size: rem(50);

          &:after {
            content: none;
          }

        }

        > div {
          cursor: pointer;
        }

      }

      .swiper-pagination {
        --swiper-pagination-top: 93%;

        .swiper-pagination-bullet {
          --swiper-pagination-bullet-width: 8px;
          --swiper-pagination-bullet-height: 8px;
          --swiper-pagination-bullet-inactive-color: $c-primary;
          --swiper-pagination-bullet-inactive-opacity: 1;
          --swiper-pagination-bullet-border-radius: 50px;

          border: 1px solid color(dark);
        }

        .swiper-pagination-bullet-active {
          --swiper-pagination-color: #000;
        }

      }

    }
  }
}
