.s-comments--style {
  &-4 {
    .s-comments {
      &-swiper {
        text-align: center;
        .swiper-pagination-bullet {
          width: rem(10);
          height: rem(10);
          background-color: color(light);
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background-color: #333;
        }
      }
      .swiper-wrapper {
        padding-bottom: rem(32);
      }
      &-layout {
        &-inner {
          max-width: rem(620);
          min-height: rem(250);
          background-color: color(light);
          border-radius: rem(8);
          padding: rem(24);
          @include flex(row, nowrap, start, center);
          gap: rem(24);

          @include lessThan($mobileXs) {
            @include flex(column, wrap, center, start);
            padding: rem(24) rem(12);
          }
          &__image {
            max-width: 100%;
            img {
              max-width: rem(100);
              height: rem(100);
              border-radius: 100%;
              object-fit: cover;
            }
          }
          &-comment {
            @include flex(column, wrap, center, start);
            gap: rem(24);
            &-info {
              &__name {
              }
              &__job {
                font-weight: 700;
              }
            }
            &-star {
              @include flex(row, nowrap, start, center);
              svg {
                path {
                  fill: color(primary);
                }
              }
              &__empty {
                margin-left: rem(8);
                svg {
                  path {
                    fill: color(secondary);
                  }
                }
              }
            }
            &__desc {
              max-width: rem(380);
            }
            &__date {

            }

          }
        }
      }
      &__button {
        @include flex(row, nowrap, center, center);
        margin-top: rem(32);
      }
      &__text {
        margin-top: rem(32);
        margin-bottom: rem(32);
      }
    }
  }
}
