.s-content--style {
  &-3 {
    .swiper-buttons-2 {
      @include flex(row, nowrap, center, start);
      gap: rem(16);

      svg {
        cursor: pointer;

        path {
          fill: color(primary);
        }
      }

      &-svg {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .s-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 0;

      @include lessThan($tablet) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
      }


      &-content {
        grid-area: 1 / 1 / 2 / 5;

        @include flex(column, wrap, center, start);
        gap: rem(32);
        z-index: 3;

        @include lessThan($tablet) {
          grid-area: 1 / 1 / 2 / 2;
          align-items: center;
          text-align: center;
          padding-bottom: rem(16);
        }
      }

      &-slider {
        grid-area: 1 / 5 / 2 / 13;

        .swiper-slide {
          opacity: 1;
          transition: opacity 0.3s ease;

          &-prev, &.third-slide-before {
            opacity: 0;
            pointer-events: none;
          }
        }

        .swiper-wrapper {
          padding-bottom: rem(8);
        }

        .slider--content3 {
          z-index: 1;
          overflow: visible !important;
        }
      }

      &__image {
        .c-image {
          max-width: rem(400);

          img {
            height: rem(470);
            object-fit: cover;
            border-radius: rem(10);
          }

          @include lessThan($tablet) {
            max-width: rem(300);
            img {
              height: rem(300);
            }
          }
        }
      }

      .swiper-buttons {
        display: none;
      }

      &-swiper {
        width: auto;
        padding: 0 rem(16);

        .swiper-pagination-bullet {
          width: rem(10);
          height: rem(10);
          background-color: color(grey-300);
          opacity: 1;
        }

        .swiper-pagination-bullet-active {
          background-color: color(primary);
        }
      }
    }
  }
}
