.s-content--style {
  &-15 {
    .s-content {
      p + p {
        margin-top: rem(24);

      }
      .c-title {
        text-align: center;
      }
      &__text {
        text-align: center;
        margin-top: rem(32);
      }

    }
  }
}
