.s-content--style {
  &-13 {
    .s-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      gap: rem(24);

      @include lessThan($tablet) {
        @include flex(column, wrap, center, center);

        gap: rem(32);
      }

      &-layout {
        grid-column: span 6;

        @include lessThan($tablet) {
          grid-column: span 12;
        }
      }

      &__text {
        margin-top: rem(32);
      }

      &-text {
        grid-column: span 6;

        @include lessThan($tablet) {
          grid-column: span 12;
        }
      }
    }
  }
}
