.s-content--style {
  &-5 {
    .s-content {
      &__title {
        text-align: center;
      }

      &-layout {
        margin-top: rem(50);
        @include flex(row, wrap, space-evenly, center);

        &-column {
          @include flex(column, wrap, start, center);
          position: relative;

          &:first-child {
            &::before {
              display: none;
            }

          }

          &::before {
            content: '';
            display: block;
            width: 1px;
            height: 100px;
            background-color: color(primary);
            position: absolute;
            transform: translateX(-170px);
            @include lessThan($tablet) {
              display: none;
            }

          }

        }

      }
      //.slider--content3 {
      //  overflow: visible !important;
      //  @include lessThan(500px){
      //    overflow: hidden !important;
      //  }
      //}

    }
  }
}
