.s-content--style {
  &-8 {
    .s-content {

      &-layout {
        max-width: rem(800);
        padding-top: rem(80);
        padding-bottom: rem(80);
        margin: auto;

        @include flex(column, wrap, center, start);
        gap: rem(32);
        p {
          //max-width: rem(800);
        }
        p + p {
          margin-top: rem(24);
        }
        .c-title {
          //max-width: rem(600);
        }
      }
      &-center {
        &-container {
          .s-content-layout {
            @include flex(column, wrap, center, center);
          }
        }
      }
      &-right {
        &-container {
          .s-content-layout {
            @include flex(column, wrap, center, end);
          }
        }
      }

    }
  }
}
