.s-content--style {
  &-1 {
    &-1 {
      .s-content {
        &-container-normal {
          @include flex(row, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(32);
          }

        }

        &-container-reverse {
          @include flex(row-reverse, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(32);
          }

        }

        &-layout {
          @include flex(column, wrap, space-evenly, start);
          gap: rem(22);
        }

        &-image {
          .c-image {
            width: rem(630);

            img {
              height: 100%;
              max-height: rem(460);

              object-fit: cover;
            }

            @include lessThan($tablet) {
              width: rem(460);
              img {
                max-height: rem(360);
              }
            }

            @include lessThan($mobileXs) {
              width: rem(360);
              img {
                max-height: rem(360);

              }
            }
          }

        }
      }
    }

    &-2 {
      .s-content {
        &-container-normal {
          @include flex(row, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(64);
          }

        }

        &-container-reverse {
          @include flex(row-reverse, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(64);
          }

        }

        &-layout {
          @include flex(column, wrap, space-evenly, start);
          gap: rem(22);

          flex: 1;
        }

        &-image {
          box-shadow: 22px -22px 0px 2px color(primary);
          flex: 1;

          .c-image {
            width: rem(630);

            img {
              height: 100%;
              max-height: rem(460);
              width: 100%;

              object-fit: cover;
            }

            @include lessThan($tablet) {
              width: rem(460);
              img {
                max-height: rem(360);
              }
            }

            @include lessThan($mobileXs) {
              width: rem(320);
              img {
                max-height: rem(320);

              }
            }
          }

        }
      }
    }

    &-3 {
      .s-content {
        &-container-normal {
          @include flex(row, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(64);
          }

        }

        &-container-reverse {
          @include flex(row-reverse, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(64);
          }

        }

        &-layout {
          @include flex(column, wrap, space-evenly, start);
          gap: rem(22);
        }

        &-image {
          border: 1px solid color(primary);
          padding-right: rem(44);
          padding-top: rem(18);
          padding-bottom: rem(18);
          @include lessThan($mobile) {
            padding-right: rem(0);
          }

          .c-image {
            width: rem(630);

            img {
              height: 100%;
              max-height: rem(460);

              object-fit: cover;
            }

            @include lessThan($tablet) {
              width: rem(460);
              img {
                max-height: rem(360);
              }
            }

            @include lessThan($mobileXs) {
              width: rem(300);
              img {
                max-height: rem(300);

              }
            }
          }

        }
      }
    }

    &-4 {
      .s-content {
        &-container-normal {
          @include flex(row, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(32);
          }

        }

        &-container-reverse {
          @include flex(row-reverse, nowrap, space-between, center);
          gap: rem(110);

          @include lessThan($tablet) {
            @include flex(column, wrap, center, center);
            gap: rem(32);
          }

          .s-content-image {
            left: 8%;

          }
        }

        &-layout {
          position: relative;
          z-index: 2;
          @include flex(column, wrap, space-evenly, start);
          gap: rem(22);
          background-color: color(primary);
          color: color(light);
          padding: rem(80) rem(22);
          width: 70%;

          @include lessThan(1280px) {
            padding: rem(40) rem(12);
            width: 100%;
          }
        }

        &-image {
          position: absolute;
          left: 50%;

          @include lessThan(1280px) {
            //position: initial;
            display: none;

          }

          .c-image {
            width: rem(630);

            img {
              height: 100%;
              max-height: rem(460);

              object-fit: cover;
            }

            @include lessThan($tablet) {
              width: rem(460);
              img {
                max-height: rem(360);
              }
            }

            @include lessThan($mobileXs) {
              width: rem(300);
              img {
                max-height: rem(360);

              }
            }
          }

        }

        &-image2 {
          display: none;

          @include lessThan(1280px) {
            display: block;

          }

          .c-image {
            width: rem(630);

            img {
              height: 100%;
              max-height: rem(460);

              object-fit: cover;
            }

            @include lessThan($tablet) {
              width: rem(460);
              img {
                max-height: rem(360);
              }
            }

            @include lessThan($mobileXs) {
              width: rem(300);
              img {
                max-height: rem(360);

              }
            }
          }

        }
      }
    }
  }
}
