.s-content--style {
  &-16 {
    .s-content {
      p + p {
        margin-top: rem(24);
      }

      .c-title {
        text-align: center;
      }

      &__text {
        text-align: center;
        margin-top: rem(32);
      }

      &-layout {
        @include flex(row, wrap, center, start);

        margin-top: rem(40);
        row-gap: rem(40);
        column-gap: rem(100);

        @include lessThan(tablet) {
          @include flex(row, wrap, stretch, center);
        }

        &-inner {
          max-width: rem(540);
        }
      }
    }
  }
}
