.footer {
  padding-top: rem(36);
  @include lessThan($mobile) {
    padding-top: rem(16);
  }

  .menu {
    @include undoListStyles();

    li {
      margin: 0.5em 0;
    }
  }

  &--style {
    &-1 {
      .footer {
        list-style: none;
        padding-bottom: rem(26);

        &-layout {
          @include flex(row, wrap, space-between, start);
          gap: rem(16);
          margin-bottom: rem(160);
          @include lessThan($mobile) {
            justify-content: center;
            margin-bottom: rem(36);
          }

          &-inner {
            @include flex(row, wrap, start, center);
            gap: rem(60);
            @include lessThan($mobile) {
              justify-content: center;
              gap: rem(16);
            }
          }

          .menu {
            @include flex(column, wrap, start, start); // Garder les éléments flexibles en colonne
          }

          &__image {
            img {
              width: rem(220);
            }
          }

          &__text {
            max-width: rem(400);
            text-align: start;
          }

          &-under {
            @include flex(row, wrap, space-between, end);
            gap: rem(16);
            @include lessThan($mobile) {
              justify-content: center;
            }

          }
        }

        &-info {
          @include flex(column, wrap, space-between, start);
          gap: rem(42);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);
            gap: rem(16);
          }
        }

        &-link {
          @include flex(column, wrap, space-between, end);
          gap: rem(42);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);

            gap: rem(16);
          }

          svg {
            width: rem(20);
            height: rem(20);
            margin-right: rem(8);

            path {
              fill: color(primary);

            }
          }

          .menu {
            @include flex(row, wrap, start, center);
            gap: rem(46);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
              gap: rem(16);
            }
          }
        }
      }
    }

    &-2 {
      .footer {
        list-style: none;
        padding-bottom: rem(26);

        &-layout {
          @include flex(row, wrap, space-between, end);
          border-bottom: 2px solid color(grey-200);
          padding-bottom: rem(40);

          @include lessThan($mobile) {
            justify-content: center;
            padding-bottom: rem(16);
          }

          &__image {
            img {
              width: rem(220);
            }
          }

          &__menu {
            .menu {
              @include flex(row, wrap, start, start);
              gap: rem(32);
              @include lessThan($mobile) {
                @include flex(column, wrap, center, center);
                gap: rem(16);
              }
            }
          }

          &-inner {
            @include flex(column, wrap, start, start);
            gap: rem(34);

            @include lessThan($mobile) {
              justify-content: center;
              align-items: center;
              gap: rem(16);
            }
          }

          &__text {
            max-width: rem(400);
            text-align: start;
          }
        }

        &-info {
          @include flex(row, wrap, space-between, center);
          gap: rem(42);
          margin-top: rem(32);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);
            gap: rem(16);
          }

          .menu {
            @include flex(row, wrap, start, center);
            gap: rem(32);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
              gap: rem(16);
            }
          }

          svg {
            width: rem(20);
            height: rem(20);
            margin-right: rem(8);

            path {
              fill: color(primary);

            }
          }
        }
      }
    }

    &-3 {
      .footer {
        list-style: none;
        padding-bottom: rem(26);

        &-layout {
          @include flex(row, wrap, space-between, center);
          gap: rem(16);
          padding-bottom: rem(72);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);
            padding-bottom: rem(36);
            justify-content: center;
          }

          .menu {
            @include flex(column, wrap, start, start);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
            }
          }

          &__image {
            img {
              width: rem(220);
            }
          }

          &-inner {
            @include flex(column, wrap, end, end);
            text-align: end;
            gap: rem(34);
            @include lessThan($mobile) {
              justify-content: center;
              align-items: center;
              text-align: center;
              gap: rem(16);
            }

            &__text {
              max-width: rem(400);
            }
          }
        }

        &-link {
          @include flex(row, wrap, space-between, center);
          gap: rem(42);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);
            gap: rem(16);
          }

          svg {
            width: rem(20);
            height: rem(20);
            margin-right: rem(8);

            path {
              fill: color(primary);

            }
          }

          .menu {
            @include flex(row, wrap, start, center);
            gap: rem(46);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
              gap: rem(16);
            }
          }
        }

      }
    }

    &-4 {
      background-color: color(grey-200);
      .footer {
        list-style: none;

        &-layout {
          @include flex(row, wrap, space-between, start);
          @include lessThan($mobile) {
            @include flex(column, wrap, center, center);
          }

          &-inner {
            @include flex(column, wrap, center, start);
            gap: rem(16);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
            }

            &__image {
              img {
                width: rem(220);
              }
            }

            svg {
              width: rem(20);
              height: rem(20);
              margin-right: rem(8);

              path {
                fill: color(primary);
              }
            }
          }

          &-info {
            @include flex(column, wrap, space-between, end);
            gap: rem(34);
            text-align: end;
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
              gap: rem(16);
              text-align: center;
            }

            &__text {
              max-width: rem(400);
            }
          }
        }

        &-link {
          @include flex(row, wrap, center, center);
          gap: rem(42);
          background-color: color(primary);
          color: color(light);
          margin-top: rem(12);
          padding-top: rem(26);
          padding-bottom: rem(26);

          .menu {
            @include flex(row, wrap, start, center);
            gap: rem(46);
            @include lessThan($mobile) {
              @include flex(column, wrap, center, center);
              gap: rem(16);
            }
          }
        }

        &-right {
          @include flex(row, wrap, space-between, center);
          gap: rem(16);
          @include lessThan($mobile) {
            display: none;
          }
        }

        &-bar {
          background-color: color(grey-300);
          width: 2px;
          height: rem(100);
        }
      }
    }
  }

  &-option {
    margin-bottom: -60px;
    @include lessThan($mobile) {
      margin-bottom: -20px;
    }
    &--style {

      &-1 {
        display: none;
      }

      &-2 {

      }

      &-3 {

      }

      &-4 {
        padding-top: rem(32);

        @include flex(column, wrap, center, center);

        .footer {

          &-option {
            @include flex(column, wrap, center, center);
            gap: rem(32);
            padding: rem(32) rem(64);
            background-color: color(primary);
            border-radius: rem(20);
          }
        }
      }
    }
  }

}

